<!DOCTYPE html>
<html>
    <body>
        <a target="_blank" rel="noopener noreferrer" href="{{ affiliate_static_service_url }}/click/banner/{{ banner_id }}">
            <img src="{{ affiliate_static_service_url }}/download/banner/{{ banner_id }}" alt="{{ alt }}" >
        </a>
    </body>
</html>